@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, .header-font {
    font-family: "Lobster Two", cursive;
}

.royal-gold {
    color: #F5BD02;
}

.hero {
    position: relative;
    background-image: url('../images/jag-ls1.JPG');
    background-size: cover;
    background-position: center; 
    height: calc(100vh - 56px);
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}

.hero .container {
    color: white;
    z-index: 2;
}

.hero .container .banner {
    height: 150px;
    position: relative;
    bottom: 5rem;
}

.hero .container .cta {
    position: relative;
    top: calc(7rem + 5vw);
}

.hero .container .cta .btn{
    background-color: black;
    color: white;
}

#cars-section .car {
    padding: 0;
    min-height: 80vh;
}

.car {
    margin-bottom: 5rem;
}

.car-form {
    width: 80%;
    max-width: 500px;
}

.car-form input, .car-form textarea {
    width: 100%;
}

.carousel {
    width: 95%;
    max-width: 1000px;
}

#info-section {
    min-height: 60vh;
}

.footer-section {
    min-height: 20vh;
}

@media only screen and (max-width: 605px) {
    .calendar-widget-sm {
        display: block;
    }
    .calendar-widget-lg {
        display: none;
    }
}
@media only screen and (min-width: 605px) {
    .calendar-widget-sm {
        display: none;
    }
    .calendar-widget-lg {
        display: block;
    }
}
@media only screen and (max-width: 500px) {
    .carousel {
        width: 100%;
    }
}
